.App {
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-range {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-around;
}

.row {
  margin-right: 0 !important;
}

.card-image,
.card-content {
  transition: 0.8s !important;
}

.card-content {
  opacity: 0;
  color: white;
  padding: 10px;
}

.card:hover {
  border-color: #ec7532;
  border-radius: 10px;
}

.card::-webkit-scrollbar {
  width: 5px;
}

.card::-webkit-scrollbar-track {
  background: black;
}

.card::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 30px;
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .card-content {
  opacity: 1;
}

.item-title {
  font-size: 1.8rem;
}

.card-text {
  margin-bottom: 0.5em !important;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

/* lk */
.cardd {
  overflow: hidden;
  background-color: black !important;
  margin: 20px;
}

.pagination li {
  margin-right: 10px;
}

.card-img-overlay {
  padding: 0 !important;
}

/* CAROUSEL */
.carousel-caption {
  background-image: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.carousel-title {
  color: orange;
  letter-spacing: 1.5px;
  font-size: 50px;
  font-weight: 600;
  z-index: -10;
}

.carousel-indicators,
.carousel-overview {
  z-index: -10 !important;
}

.overview-text {
  font-style: italic;
}

/* PAGINATION */
.page-item a {
  background-color: black !important;
  color: orange !important;
  border: none;
}

.page-item.active .page-link {
  border: 1px solid orange;
}

/* CAROUSEL */
.carousel-page {
  position: relative;
}

.carousel-item {
  position: relative;
  width: 100vw !important;
  height: calc(100vh - 71px) !important;
  overflow: hidden !important;
}
.carousel-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}

.footer {
  margin-top: 30px;
  padding-bottom: 100px;
  height: 50px;
  text-align: center;
  color: orange;
  line-height: 50px;
}

/* MODAL */
.youtube-modal {
  z-index: 10;
}

.youtube-video {
  width: 100%;
  height: 600px;
  z-index: 10;
}

.ReactModal__Overlay {
  z-index: 10;
}

.ReactModal__Content {
  height: 650px;
}

.card-body {
  padding: 0 !important;
}

@media only screen and (max-width: 500px) {
  .youtube-modal {
    width: 350px;
    height: 250px;
  }

  .youtube-video {
    width: 300px;
    height: 200px;
  }
}
