.App {
  background-color: black;
  width: 100%;
  height: 100%;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-range {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-around;
}

.row {
  margin-right: 0!important;
}

.card-content {
  opacity: 0;
  background-color: black;
  color: white;
}

.card:hover {
  overflow-y: scroll !important;
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .card-content {
  opacity: 1;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

/* lk */
.cardd {
  overflow: hidden;
  background-color: black !important;
}

.pagination li {
  margin-right: 10px;
}

.card-img-overlay {
  padding: 0 !important;
}

/* CAROUSEL */
.carousel-title {
  color: orange;
  letter-spacing: 1.5px;
  font-size: 50px;
  font-weight: 600;
}

/* PAGINATION */
.page-item a {
  background-color: black !important;
  color: orange !important;
  border: none;
}

.page-item.active .page-link {
  border: 1px solid orange;
}

/* CAROUSEL */
.carousel-page {
  position: relative;
}

.carousel-item {
  position: relative;
  width: 100vw !important;
  height: calc(100vh - 71px) !important;
  overflow: hidden !important;
}
.carousel-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}
/*height: 70% !important;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
*/

.footer {
  margin-top: 30px;
  height: 50px;
  text-align: center;
  color: orange;
  line-height: 50px;
}

/* MODAL */
.youtube-modal {
  z-index: 100;
}

.youtube-video {
  width: 800px;
  height: 600px;
}

.card-body {
  padding: 0 !important;
}

@media only screen and (max-width: 500px) {
  .youtube-modal {
    width: 350px;
    height: 250px;
  }

  .youtube-video {
    width: 300px;
    height: 200px;
  }
}
