.App {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-range {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-around;
}

/* .card {
  background-color: black;
  color: white;
} */

.card-content {
  /* overflow: scroll; */
  opacity: 0;
}

.overview-text {
  
}

.card:hover {
  overflow-y: scroll !important;
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .card-content {
  opacity: 1;
}

.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.pagination li {
  margin-right: 10px;
}

.card-img-overlay {
  padding: 0 !important;
}

.card {
  overflow: hidden;
}

/* Modal */
.video {
  width: 100%;
  height: 100%;
}


.modal {
  position: absolute;
  z-index: 100;
}